*{
    margin:0;
    padding:0;
    color:white;
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
}

.logo {
    width: 160px;
}

#top{
    background-image: url('../img/home/Group\ 56.png');
    background: transparent linear-gradient(90deg, #10A1BB 0%, #19B580 100%);
    padding: 1% 4%;
    /* opacity: 0.6; */

}

header{
    position: relative;
    padding:1% 2%;

}

.country {
    display: inline-block;
    position:absolute;
    top:15%;
    right:10%;
    background: white;
    border-radius: 12px;
    padding: 6px 10px;
}

span.lang{
    color:#F48120;
    padding: 5px;
    font-family: Nunito;
}

button.select-lang{
    background: white;
    border: none;
}

button.select-lang:hover{
    background: rgb(248, 245, 245);
    border: none;
}

.headline{
    margin: 12% 15% 9% 0;
    padding: 4% 2%;
    max-width: 600px;
}

.title {
    color: white;
    font-family: Nunito;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: -4.5px;
}

.subtitle {
    margin: 25px 0;
    color: #E6E7E8;
    font-family: Nunito;
}

button.submit {
    color: white;
    background: #F48120;
    border-radius: 10px;
    border-width: 0;
    margin: 5px 0;
    padding: 14px 45px;
    font-weight: 600;
    font-size:calc(0.8rem + 0.5vw);
    opacity: 1;
}

span {
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

/* Middle section */

#middle{
    display:flex;
    margin-bottom: 20px;
}

.middle-left{
    max-width: 50%;
    background: transparent linear-gradient(240deg, #F48120 0%, #CE4890 100%);
    padding: 5% 7% 5% 6%;
    font-weight: normal;
}

.middle-right{
    max-width: 50%;
    padding: 5% 4%;
    text-align: center;
}


.vision {
    margin-bottom:15px;
    color:white;
    font-size:2.6rem;
    line-height: 1.1;

}

.sub-vision{
    color:rgb(243, 237, 237);
    font-weight: normal;
    font-size:1.4rem;
}

#example-head{
    color:#10A1BB;
}

#example-head span{
    margin-top:8px;
    display:block;
    color: #19B580;
}

.examples-container{
    display:flex;
    margin: 30px 0 0px 0;
}

div.example{
    flex-basis: center;
    margin:auto 5%;
}

div.example img{
    width: 35px;
}

div.example p{
    color:#19B580;
}


/* Goals section */
.support{
    text-align: center;
    line-height: 0.5rem;
}

.support img{
    margin:10px auto;
    width:45%;
}

.support p {
    color:#A6A8AB;
    margin-bottom: 30px;
    font-weight: 700;
    font-size:1.4rem;
}

.support-images{
    display:flex;
    flex-wrap: wrap;
}

.support-img{
    border: 0.2px solid rgb(243, 243, 243);
    padding:20px;
    flex-basis:16.664%;
    width:16.664%;
}

.view-all{
    position: relative;
}

.view-all a{
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #10A1BB;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size:calc(0.7rem + 1.3vw);
}


/* Quote section */
#quote-section{
    background: transparent linear-gradient(240deg, #10A1BB 0%, #19B580 100%) 0% 0% no-repeat padding-box;
    padding:4% 6%;
    text-align: center;
}

p q{
    font-weight: 600;
    font-size: calc(1.3rem + 2vw);
    max-width: 700px;
}

.circular{
    min-width: 150px;
    max-width:14%;
    margin:20px 0 10px;
    border:10px solid black;
    border-radius: 100%;
}

.name{
    color:white;
    font-weight: 600;
    font-size:calc(0.9rem + 0.8vw);
}

.position{
    margin:2px 0 20px;
    color:rgb(221, 216, 216);
    font-size:calc(0.6rem + 1vw);
}

#quote-section button{
    padding:15px 30px;
}

/* Working section */
#working{
    /* width: 1920px; */
    background: transparent linear-gradient(240deg, #F48120 0%, #CE4890 100%) 0% 0% no-repeat padding-box;
    padding:50px 6%;
    overflow-x: auto;
}

#working>p{
    font-weight:bold;
    font-size:1.5rem;
}


tr:nth-child(n+2){
    opacity: 0.5;
}

.what{
    font-weight: 600;
    font-size: calc(2.1rem + 1vw);
}


.how img{
    width:25px;
    margin: 5px 10px 2px 0;
    vertical-align: middle;
}

span.short{
    font-weight: 600;
    font-size:1.2rem;
}

.step>*{
    margin: 10px 0;
}

th{
    text-align: left;
    padding:20px 60px 20px 0;
}

td{
    padding-left:40px;
}



/* Join section */
#join-section{
    /* width: 1920px; */
    background: transparent linear-gradient(240deg, #10A1BB 0%, #19B580 100%);
    padding: 50px 6%;
}

#join-section .row{
    display:flex;
    justify-content: space-between;
}

.col-left{
    max-width: 400px;
    margin-right:8%;
}

.col-left>*{
    margin:20px 0;
}

.col-left h5{
    font-weight: 400;
    font-size: 2.2rem;
    margin-top:0;
}

.col-left button{
    margin-top: 10px;
}

.col-left img{
    max-width: 30px;
    height:auto;
    margin-right: 10px;
    vertical-align: middle;

}

.col-right img{
    min-width: 50%;
    max-width:90%;
    height:auto;

}

/* Footer section */
#footer{
    /* width: 1920px; */
    background: transparent linear-gradient(0deg, #10A1BB 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    padding: 10px 6%;
    display: flex;
    align-items: center;
    flex-grow: 5;
    
}

footer img{
    vertical-align: middle;
}

footer span{
    flex-basis: 73%;
}

/* Media Queries */
@media screen and (max-width:690px){
    .headline {
        margin-top: 18%;
        margin-bottom: 18%;
    }

    #middle{
        flex-direction: column;
    }

    .middle-left, .middle-right{
        max-width: 100%;
        padding: 10% 6%;
    }
    .support-img{
        flex-basis:33.33%;
        width:33.33%;
    }

    #working{
        text-align: center;
    }

    tr{
        display: flex;
        flex-direction: column;
    }

    th{
        padding: 25px 0 0px 0;
        text-align: center;  
    }
    td{
        padding:0;
        text-align: center;
    }

    #join-section .row{
        flex-direction: column;
        text-align: center;
    }

    #join-section .row .col-left{
        max-width: 600px;
        margin-right:0;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:690px) and (max-width:900px){
    .support-img{
        flex-basis:25%;
        width:25%;
    }

    .view-all{
        flex-basis:75%;
        width:70%;
        border-right: 0;
    }

    #join-section .row{
        flex-direction: column;
        text-align: center;
    }

    #join-section .row .col-left{
        max-width: initial;
        margin-right:0;
        margin-bottom: 30px;
    }
}